@font-face {
    font-family: "Avenir Next";
    src: url('/static/fonts/Avenir\ Next.ttc');
}
@font-face {
    font-family: "Avenir Next-DemiBold";
    src: url('/static/fonts/AvenirNext-DemiBold-03.ttf')
}

body {
    font-family: "Avenir";
}

.homeTitle {
    text-align: left;
}
.homeTitle button {
    float: right;
}

@media only screen and (max-width: 500px) {
    .homeTitle {
        text-align: center;
    }
    .homeTitle button {
        float: none;
    }
}

.articlePage {
    text-align: left;
    padding: 80px 0px;
}

.articleSummary{
    color: #000000;
    font-weight: bold;
    font-style: italic;
    size: 16px;
}

.articleText {
    size: 14px
}

.footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
    background:#6cf;
 }

 .modal-container {
    position: relative;
  }
  .modal-container .modal, .modal-container .modal-backdrop {
    position: absolute;
  }

.fas_fa_circle_blue {
    background: blue;
    border-radius: 50%;
    height: 1em;
    width: 1em;
}  

.loader-container {
    height: 100vh; /* Magic here */
    display: flex;
    justify-content: center;
    align-items: center;
}

.show-source {
    cursor: pointer;
    font-style: italic;
}

.show-source:hover {
    font-weight: bold;
    text-decoration: underline;
}

.article-box-title {
    font-family: "adobe-caslon-pro";
    font-weight: bold;
    text-decoration: none;
    color: inherit;
}

.panel-default>.panel-heading {
    color: #333;
    background-color: #fff;
    border-color: none;
}

.panel-default>.panel-heading span {
    font-size: 2rem;
}